*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body,div,ul,li,img,textarea,h1,h2,h3,table,td,tr{margin: 0;padding: 0;}
.header{
	width: 100%;
	height: 80px;
	background: #522A5C;
	min-width: 980px;
}
.headcon{
	float: left;
	width: 980px;
	height: 37px;
	margin-top: 38px;
	margin-left: 50%;
	position: relative;
	left: -490px;
}
.headcon .logo{
	width: 112px;
	height: 23px;
	float: left;
}
.header .nav{
	width: 248px;
	height: 24px;
	float: left;
	margin-left: 620px;
}
.header .nav ul{
	list-style-type: none;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 28px;	
}
.header .nav ul li a{
	font:14px "宋体";
	color: white;
	line-height: 14px;
	text-decoration: none;
}
.header .githubicon{
	width: 35px;
	height: 37px;
	float: right;
	margin-right: 10px;
	position: relative;
	top: -33px;
}
.footer{
	width: 100%;
	min-width: 980px;
	height: 400px;
	background-color: black;
}
.footer .nav{
	width: 200px;
	height: 40px;
	margin:0 auto;
	overflow: hidden;
}
.footer .nav ul{
	list-style-type: none;
}
.footer .nav li{
	width: 35px;
	height: 40px;
	float: left;
	margin-right: 15px;
}
.footer .nav li a{
	color: white;
	text-decoration: none;
}
.footer .relative{
	width: 980px;
	margin: 40px auto;
	overflow: hidden;
}
.footer .relative .linkli{
	width: 90px;
	margin-right: 80px;
	margin-bottom: 43px;
	display: inline-block;
}
.footer .relative .linkli .title{
	font-size: 12px;
	margin-bottom: 25px;
	color: #CCCCCC;
}
.footer .relative .linkli ul{
	list-style-type: none;
}
.footer .relative .linkli ul li{
	margin-bottom: 3px;
}
.footer .relative .linkli ul li a{
	text-decoration: none;
	color: white;
}
.footer .relative .linkli ul li a:hover{
	text-decoration: underline;
}
.footer .copyright{
	width: 52px;
	margin: 0 auto;
}
.footer .copyright a{
	color: white;
	text-decoration: none;
	font-size: 12px;
}
.footer .miaobt{
	width: 33px;
	height: 38px;
	margin:0 auto;
}